.skillPage {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--color-white);
  margin: 2rem 0;
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    img {
      filter: invert(100%) sepia(1%) saturate(1242%) hue-rotate(99deg)
        brightness(96%) contrast(84%);
    }
  }

  .title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    img {
      filter: invert(100%) sepia(1%) saturate(1242%) hue-rotate(99deg)
        brightness(96%) contrast(84%);
    }
  }
  h3 {
    color: var(--color-grey-light);
  }
  .skills {
    width: 90%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    .category {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
