.options {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
  .option {
    display: flex;
    align-items: center;
    width: max-content;
    border-radius: 50vh;
    background-color: var(--color-grey);
    padding: 0.4rem 1rem;
    cursor: pointer;
    img {
      filter: invert(100%) sepia(1%) saturate(1242%) hue-rotate(99deg)
        brightness(96%) contrast(84%);
    }
  }
}
