.navbar {
  display: flex;
  color: var(--color-white);
  position: sticky;
  top: 0;
  align-items: center;
  background-color: #27292daa;
  backdrop-filter: blur(25px);
  z-index: 100;
  justify-content: space-between;
  box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.3);
  padding: 0.5rem 2rem;
  > div {
    display: flex;
    gap: 1rem;
    align-items: center;
    h2 {
      font-weight: 500;
      font-size: 2rem;
      span {
        color: var(--color-primary);
      }
    }
  }
  img {
    aspect-ratio: 1 / 1;
    width: 2rem;
    filter: invert(100%) sepia(1%) saturate(1242%) hue-rotate(99deg)
      brightness(96%) contrast(84%);
    cursor: pointer;
  }
}
